// Header

header {
	padding-top: 50px;
	/*background: linear-gradient(-283deg, #0e73df , #2ce4b5);*/
/*    background-image: url("../img/header-background.png");
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
	width: 100%;
	p {
		color: white;
		z-index: 5;
	}
}

.header-background {
  position: absolute;
  margin-top: -35% }

.header-text-wrapper {
	z-index: 5;

}

.header-logo-wrapper {
    z-index: 10000;
    padding-top: 15px;

}

.header-logo {
    left: 160px;
    top: 67px;
}



 /*medium*/
@media (min-width: 768px) { 

        header {
        padding-bottom: 60px;

}


  .header-background {
    position: absolute;
    margin-top: -30% }

	/*.header-logo {
		position: absolute;
	}
*/

}


/*extra large*/

@media (min-width: 991px) { 

    .header-background {
  width: 100%;
    margin-top: -15%;
}

    header {
    /*padding-bottom: 140px;*/

}
/*
    header:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 830px;
    height: 125px;
    background-color: white;
    right: -114px;
    top: 189px;
}

header:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 810px;
    height: 70px;
    background-color: white;
    left: -38px;
    top: 232px;
    z-index: 1;
}*/

}

@media (min-width: 1800px) {
.header-background {
  width: 100%;
    margin-top: -22%;
}

  }
